<section class="section has-text-justified has-background-black-bis" id="about">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            About Us 
        </h2>
        <p>
            We are the Cabrillo Robotics Club (CRC), a student-led organization based at Cabrillo College in Aptos, California. Our club focuses on interdisciplinary engineering projects, providing members with hands-on experience in software, electrical, and mechanical engineering. Through these projects, students gain technical knowledge beyond the scope of coursework. As a student-led organization, the club's focus evolves with each new leadership team. Over the years, we have developed vehicles capable of traveling on land, through the air, and underwater. 
            <br>
            Currently, our club supports two projects. The Underwater Robotics Team is continuing development of our Autonomous Underwater Vehicle (AUV). LazerShark was our first AUV and demonstrated impressive performance in the 2025 RoboSub competition. With its next iteration, LazerShark II, the team aims to improve abstraction and reliability by refining and redesigning previous systems. The Aerospace Team, a new division in the robotics club, is working on an Unmanned Aerial Vehicle (UAV) for the SUAS competition.
        </p>
        <br>
        <div class="buttons">
            <a href="{{site.url}}{{site.baseurl}}/team" class="button is-rounded has-text-weight-normal is-outlined">Our
                Team</a>
            </a>
            <a href="{{site.url}}{{site.baseurl}}/support-us"
                class="button is-rounded has-text-weight-normal is-outlined">Support Us</a>
            </a>
            <a href="{{site.url}}{{site.baseurl}}/updates"
                class="button is-rounded  has-text-weight-normal is-outlined">What's New</a>
            </a>
        </div>
    </div>
</section>