<section class="section has-text-justified has-background-black-bis" id="about">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            About Us
        </h2>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Viverra habitasse quis cras sem etiam aptent ad. Orci nam praesent proin faucibus faucibus libero augue euismod. Nascetur fusce vestibulum tempus natoque nulla suscipit ultrices porta iaculis. Aauctor tristique enim vitae sem accumsan. Etiam ipsum risus ligula dictum nunc consequat senectus aenean. Tempus natoque aenean, tempor fermentum suspendisse dui varius nam.
        </p>
        <br>
        <div class="buttons">
            <a href="{{site.url}}{{site.baseurl}}/team"
                class="button is-rounded has-text-weight-normal is-outlined">Our Team</a>
            </a>
            <a href="{{site.url}}{{site.baseurl}}/team"
                class="button is-rounded has-text-weight-normal is-outlined">Donate</a>
            </a>
            <a href="{{site.url}}{{site.baseurl}}/blog"
                class="button is-rounded  has-text-weight-normal is-outlined">What's New</a>
            </a>
        </div>
    </div>
</section>
