<section class="section has-text-justified has-background-black-bis" id="about">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            About Us
        </h2>
        <br>
        <p>
            We are the Cabrillo Robotics Club (CRC), a student-led organization based at Cabrillo College in Aptos,
            California. Our club focuses on interdisciplinary engineering projects, providing members with hands-on
            experience in software, electrical, and mechanical engineering. Through these projects, our members gain
            technical knowledge that extends beyond what is covered in coursework. As a student-led group, the club's
            focus evolves with each new leadership team. Over time, we have developed vehicles capable of traveling on
            land, through the air, and underwater. In recent years, our interests have shifted towards underwater
            vehicles. After building remotely operated underwater vehicles (ROVs), we are now pursuing a more ambitious
            challenge: developing an autonomous underwater vehicle (AUV).
        </p>
        <br>
        <div class="buttons">
            <a href="{{site.url}}{{site.baseurl}}/team" class="button is-rounded has-text-weight-normal is-outlined">Our
                Team</a>
            </a>
            <a href="{{site.url}}{{site.baseurl}}/support-us"
                class="button is-rounded has-text-weight-normal is-outlined">Donate</a>
            </a>
            <a href="{{site.url}}{{site.baseurl}}/blog"
                class="button is-rounded  has-text-weight-normal is-outlined">What's New</a>
            </a>
        </div>
    </div>
</section>