<section class="hero" id="comp-showcase">
    <figure class="hero-background" style="background-image: url('{{page.hero-bkg}}');">
        <div class="overlay">
            <div class="container">
                <div class="hero-content">
                    <img src="{{page.hero-logo}}" alt="Logo" class="hero-logo">
                </div>
            </div>
        </div>
        <div class="wave-overlay" style="background: url('{{page.hero-overlay}}') no-repeat bottom center;"></div>
</section>