<div class="grid" id="comp-awards-card">
    {% for award in page.awards %}
        <div class="column">
            <div class="card">
                <div class="award-graphic">
                    <img src="{{ award.graphic }}" alt="Award graphic">
                </div>
                <div class="card-content">
                    <h2 class="name has-text-white-ter has-text-weight-bold is-size-6">{{ award.name }}</h2>
                    <p class="roles has-text-weight-normal">{{ award.year }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
