<section class="section has-text-centered has-background-black-bis" id="comp-awards">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            MATE World Championship Awards
        </h2>
        <h3 class="subtitle">
            {{page.awards-subtitle}}
        </h3>
        <p class="description">
            {{page.awards-description}}
        </p>
        {% include comp-awards-card.html %}
    </div>
</section>