<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        Competitions
    </a>
    <div class="navbar-dropdown">
        <a href="{{site.url}}{{site.baseurl}}/robosub"
            class="navbar-item">
            RoboSub
        </a>
        <a href="{{site.url}}{{site.baseurl}}/mate"
            class="navbar-item">
            MATE
        </a>
        <a href="{{site.url}}{{site.baseurl}}/swarmathon"
            class="navbar-item">
            Swarmathon
        </a>
    </div>
</div>