<footer id="footer">
    <section class="section">
        <div class="container">
            <div class="desktop">
                <div class="footer-container">
                    <div class="footer-social">
                        <p class="social-link">
                            <i class="fab fa-github"></i>
                            <a href="https://github.com/CabrilloRoboticsClub" target="_blank">CabrilloRoboticsClub</a>
                        </p>
                        <p class="social-link">
                            <i class="fab fa-instagram"></i>
                            <a href="https://www.instagram.com/cabrillorobotics/" target="_blank">cabrillorobotics</a>
                        </p>
                        <p class="social-link">
                            <i class="fab fa-youtube"></i>
                            <a href="https://www.youtube.com/channel/UC7C8mbnPujbr6cxQMaxRVWw"
                                target="_blank">cabrillorobotics6167</a>
                        </p>
                    </div>
                    <div class="footer-contact">
                        <div class="email">
                            <p class="social-link">
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:cabrillorobotics@gmail.com">cabrillorobotics@gmail.com</a>
                            </p>
                        </div>
                        <div class="address">
                            <i class="fas fa-map-marker-alt"></i>
                            <p> <a href="https://www.google.com/maps/place/Cabrillo+College/@36.9876108,-121.9259014,15z/data=!4m6!3m5!1s0x808e15930c1d7857:0xe8fe250e5088cb50!8m2!3d36.9876108!4d-121.9259014!16s%2Fg%2F11cs9mbmms?entry=ttu"
                                    target="_blank">6500 Soquel Dr,<br>Aptos, CA 95003</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile">
                <a href="https://github.com/CabrilloRoboticsClub" target="_blank" aria-label="GitHub">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.instagram.com/cabrillorobotics/" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.youtube.com/channel/UC7C8mbnPujbr6cxQMaxRVWw" target="_blank" aria-label="YouTube">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="mailto:cabrillorobotics@gmail.com" aria-label="Email">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="https://www.google.com/maps/place/Cabrillo+College/@36.9876108,-121.9259014,15z/data=!4m6!3m5!1s0x808e15930c1d7857:0xe8fe250e5088cb50!8m2!3d36.9876108!4d-121.9259014!16s%2Fg%2F11cs9mbmms?entry=ttu" target="_blank" aria-label="Address">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
            </div>
        </div>
    </section>
</footer>