<section class="section has-text-justified has-background-black-bis" id="latest-project">
    <div class="container">
        <h2 class="title has-text-left has-text-white is-size-2 has-text-weight-bold">
            Meet SeaHawk II
        </h2>
        <div class="columns">
            <div
                class="column has-text-justified-desktop has-justified-tablet has-justified-fullhd has-text-justified-widescreen">
                <p>
                    The Seahawk II is our third-generation Remotely Operated Vehicle (ROV) our most advanced model to
                    date. This project marked an ambitious leap to the MATE ROV Explorer Class—the highest tier of the
                    competition, typically dominated by four-year universities. Competing at this level was a
                    significant challenge and required our team to elevate the complexity and capabilities of the
                    vehicle. Every system, from the mechanical structure, to the electrical stack, and software, had to
                    be carefully designed to meet the rigorous demands of the competition.

                    The success of Seahawk II was the result of years of hard work, innovation, and iterative design.
                    Over the previous two years, we developed and refined our ROVs, gaining invaluable experience. Each
                    iteration brought new insights that shaped our engineering decisions, ultimately leading to the
                    creation of the completely redesigned Seahawk II. SeaHawk II incorporated the best elements from
                    past designs while introducing new innovations that gave us a competitive edge.

                    The effort paid off when Seahawk II made its debut at the 2024 MATE ROV World Championship. Amongst
                    29 teams from 9 different countries, Seahawk II secured first place in the highly competitive
                    Explorer Class.
                </p>
                <br>
            </div>
            <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                <figure class="image">
                    <img src="https://raw.githubusercontent.com/CabrilloRoboticsClub/cabrillorobotics.github.io/82864c0d795be98e7ff04e1dd00d9508873b26ec/assets/images/seahawk-II/seahawk-II-outline.svg"
                        alt="Outline of the SeaHawk II">
                </figure>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <a href="{{site.url}}{{site.baseurl}}/seahawk-II"
                class="button is-rounded has-text-weight-normal is-outlined">Learn More</a>
        </div>
    </div>
</section>