<section class="section has-text-justified has-background-black-bis" id="latest-project">
    <div class="container">
        <h2 class="title has-text-left has-text-white is-size-2 has-text-weight-bold">
            Meet SeaHawk II
        </h2>
        <br>
        <div class="columns">
            <div class="column has-text-justified-desktop has-justified-tablet has-justified-fullhd has-text-justified-widescreen">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Maecenas sollicitudin dapibus; vestibulum et blandit pellentesque augue volutpat. Magna sodales ornare nascetur fermentum arcu diam. Lacus consequat mollis condimentum parturient magnis rutrum imperdiet egestas. Ad nisi vestibulum at cubilia bibendum eu consectetur. Pellentesque venenatis parturient suscipit vel iaculis etiam. Alorem pulvinar porta est natoque augue dictum. Proin rutrum tristique dictum ultricies lectus tellus phasellus. Facilisis lectus quisque tristique ut duis ultrices himenaeos dictum. Magnis ex porta porta, nullam tempus laoreet.
                </p>
                <br>
            </div>
            <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                <figure class="image">
                    <img src="https://raw.githubusercontent.com/CabrilloRoboticsClub/cabrillorobotics.github.io/82864c0d795be98e7ff04e1dd00d9508873b26ec/assets/images/seahawk-II/seahawk-II-outline.svg" alt="Outline of the SeaHawk II">
                </figure>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <a href="{{site.url}}{{site.baseurl}}/seahawk-II"
                class="button is-rounded has-text-weight-normal is-outlined">Learn More</a>
        </div>
    </div>
</section>