<section class="section" id="lazershark-se">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            Open Source Software
        </h2>
        <p>
        The LazerShark software stack is completely built on the Robot Operating System 2 (ROS2). Using ROS2 and various other open source libraries, CRC has built completely custom control, navigation, and vision systems. An Extended Kalman Filter fuses sensor data from LazerShark’s IMUs, its DVL, and vision systems to provide accurate pose estimations. A fully custom control system based on a Linear Quadratic Regulator takes pose estimates to generate inputs to stabilize the system and to bring the LazerShark to any desired pose. Utilizing the Zed 2i, the Jetson Orin Nano, and the Nvidia Nvblox library, the LazerShark can construct a 3D map of the competition environment and localize within it. These mapping and control systems enable a custom navigation system based on the D* Lite algorithm, allowing for obstacle avoidance in path generation between any two points in the competition environment.
        </p>

        <br>
        <div class="{{page.handle}}">
            <div style="display: flex; justify-content: center;">
                <a href="https://github.com/CabrilloRoboticsClub/robosub_ros" target="_blank"
                    class="button is-rounded has-text-weight-normal is-outlined">GitHub</a>
            </div>
        </div>
</section>