<section class="section" id="lazershark-ee">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            Electrical Box
        </h2>
        <p>
            The electrical box houses the complete LazerShark electrical stack. It is constructed from machined MIC 6 aluminum plates that were TIG welded together. The enclosure was designed to provide easy access to all components. It includes two polycarbonate windows: a top window to view the stack and a front window for the ZED 2i camera. These windows are secured with bolts and sealed using O-rings to provide a reliable watertight seal. The box is pressure-tested before each deployment to ensure minimal risk of failure. 
            <br>
        </p>

        <!-- <figure>
            <img src="https://raw.githubusercontent.com/CabrilloRoboticsClub/cabrillorobotics.github.io/refs/heads/what-a-theme-test/assets/images/lazer-shark/electrical-box-cad-exploded.webp" alt="LazerShark electrical enclosure with labeled components">
        </figure> -->

        <div class="features">
            <div class="column">
                <ul>
                    <li><span class="feature">1</span> Jetson dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                    <li><span class="feature">2</span> Power is supplied by an off-the-shelf lithium-ion battery pack, which connects to a custom Battery Management System (BMS) board. The BMS handles all battery hardware-level control and protection. An RP2040 microcontroller on the BMS board drives switching circuits and PWM generation. It communicates with the RP2040 on the Pi HAT, sending various environmental data.</li>
                    <li><span class="feature">3</span> The Pi Hat is a custom legacy PCB designed last year for MATE ROV. The Pi Hat acts as the bridge between the electronics and our ROS network, interfacing with the components directly or through the RP2040 over UART. The Pi Hat also has several status LEDs for debugging purposes and includes switching circuits for controlling the cooling fans.</li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><span class="feature">4</span> The StereoLabs Zed 2i stereoscopic camera serves as the eyes of the vehicle. With two lenses which mimic binocular vision, the Zed captures high-resolution 120° Wide-Angle FOV stereo images. These images are processed on the Jetson in real time to identify and locate objects, aid in vehicle position tracking, and create a global map of the environment.</li>
                    <li><span class="feature">5</span> A Doppler Velocity Logger (DVL) is a critical component of our vehicle’s localization system, as it measures velocity relative to the bottom of the pool. We are grateful to Water Linked for providing us a substantial discount on their A50 Doppler Velocity Logger (DVL). The A50 interfaces with the Pi over ethernet. A custom TCP driver sends velocity data to the ROS network which is used for state estimation.   </li>
                    <li><span class="feature">6</span> PNI Naviguider andTargetPoint-TCM IMUs ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat n</li>
                </ul>
            </div>
        </div>
    </div>
</section>