<section class="section has-text-justified has-background-black-bis" id="lazershark-homepage">
    <div class="container">
        <h2 class="title has-text-left has-text-white is-size-2 has-text-weight-bold">
            From ROVs to AUVs
        </h2>
        <h3 class="title has-text-left has-text-white is-size-5 has-text-weight-bold">
            LazerShark: Our first Autonomous Underwater Vehicle
        </h3>
        
        <div style="display: flex; justify-content: center;">
            <a href="{{site.url}}{{site.baseurl}}/seahawk-II"
                class="button is-rounded has-text-weight-normal is-outlined">LazerShark</a>
        </div>
    </div>
</section>