<section class="section" id="lazershark-me">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            Chassis
        </h2>
        <div class="columns is-vcentered">
            <div
                class="column has-text-justified-desktop has-justified-tablet has-justified-fullhd has-text-justified-widescreen">
                <p>
                    The mechanical design prioritizes modularity and expandability. These qualities, along with rapid development cycles, were favored over producing a polished final product due to the limited team size and time constraints. 
                    <br>
                    The vehicle chassis consists of two main components: the electrical and thruster extrusions. The thruster extrusions are secured to the electrical enclosure using four FDM-printed mounting brackets. The chassis provides mounting points for the thrusters, tooling, and a protected location for the DVL. 
                    <br>
                    LazerShark's weight is balanced by the buoyancy of the electrical box's volume. For fine buoyancy tuning, FDM-printed cartridges filled with lead shot can be added to or removed from unused interior spaces in the electrical box.
                </p>
            </div>
            <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                <figure class="image">
                    <img src="https://raw.githubusercontent.com/CabrilloRoboticsClub/cabrillorobotics.github.io/refs/heads/what-a-theme-test/assets/images/lazer-shark/chassis-cad.webp"
                        alt="LazerShark chassis CAD">
                </figure>
            </div>
        </div>
    </div>
</section>
