<section class="section has-text-justified has-background-black-bis" id="lazershark-homepage">
    <div class="container">
        <h2 class="title has-text-left has-text-white is-size-2 has-text-weight-bold">
            LazerShark
        </h2>
        <h3 class="title has-text-left has-text-white is-size-5 has-text-weight-bold">
            4th Place in RoboSub 2025 Autonomy Challenge
        </h3>
        <p>
            LazerShark is Cabrillo Robotics Club's first Autonomous Underwater Vehicle (AUV). After a history of building Remotely Operated Vehicles (ROVs), winning first place overall at the MATE ROV World Championship three consecutive years, the team decided to progress to autonomous underwater systems. Like all CRC projects, LazerShark was built around our commitment to creating in-house solutions whenever possible. The vehicle's chassis was manufactured internally, its electronics stack is composed of custom PCBs, and the software is original and open-source. LazerShark made its debut at the 2025 RoboSub competition. The RoboSub Autonomy Challenge consists of three elimination rounds in which teams complete tasks based on real-world AUV applications. LazerShark placed 4th out of 60 teams in autonomy. In addition, CRC earned the Rookie of the Year award, recognizing impressive innovation and performance in the first year of participation.
        </p>
        <br>
        <div style="display: flex; justify-content: center;">
            <a href="{{site.url}}{{site.baseurl}}/lazershark"
                class="button is-rounded has-text-weight-normal is-outlined">LazerShark</a>
        </div>
    </div>
</section>