<section class="section" id="lazershark-ee">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            Electrical Box
        </h2>
        <div class="features">
            <div class="column">
                <ul>
                    <li><span class="feature">1</span> </li>
                    <li><span class="feature">2</span> </li>
                    <li><span class="feature">3</span> </li>
                    <li><span class="feature">4</span> </li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><span class="feature">5</span> </li>
                    <li><span class="feature">6</span> </li>
                    <li><span class="feature">7</span> </li>
                    <li><span class="feature">8</span> </li>
                </ul>
            </div>
        </div>
    </div>
</section>