<section class="section has-text-justified has-background-black-bis" id="lazershark-homepage">
    <div class="container">
        <h2 class="title has-text-left has-text-white is-size-2 has-text-weight-bold">
            From ROVs to AUVs
        </h2>
        <h3 class="title has-text-left has-text-white is-size-5 has-text-weight-bold">
            LazerShark: Our first Autonomous Underwater Vehicle
        </h3>
        <p>
        The LazerShark is the Cabrillo Robotics Club’s latest vehicle, and the first Autonomous Underwater Vehicle (AUV) we have ever built. The Cabrillo Robotics Club has a history of building underwater vehicles, having won first place overall at the MATE ROV World Championship three years in a row, and is now expanding on that experience into the realm of AUVs. Like its predecessor, the SeaHawk II, the LazerShark is being built completely from scratch, in both its hardware and its software. Moving to an untethered vehicle presents several challenges, custom PCBs and software are required to manage the battery, and computer vision and control systems must be improved and introduced in order for LazerShark to navigate unpiloted. The LazerShark is set to compete in the RoboSub 2025 AUV competition this August, where it will face off against 60 different teams.
        </p>
        <br>
        <div style="display: flex; justify-content: center;">
            <a href="{{site.url}}{{site.baseurl}}/lazershark"
                class="button is-rounded has-text-weight-normal is-outlined">LazerShark</a>
        </div>
    </div>
</section>