<div class="columns is-centered is-multiline is-mobile">
    {% for member in site.data.members %}
      <div class="column has-text-centered m-2 is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
        id="project-card">
        <div class="has-background-black-ter card">
          <figure class="image is-4by5" style="background-image: url({{member.image}});">
          </figure>
          <div class="card-content">
            <h2 class="has-text-white-ter has-text-weight-bold is-size-6">{{ member.name }}</h2>
            <p class="has-text-white-ter has-text-weight-normal">{{ member.roles }}</p>
            <!-- <p class="has-text-grey-lighter has-text-weight-light content size-9">{{ member.description}}</p> -->
          </div>
        </div>
      </div>
    {% endfor %}
  </div>