<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item"
                href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
                <div class="website-title">
                    <strong>{{site.title}}</strong>
                </div>
            </a>
            <div class="navbar-burger" data-target="navbar-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item {% if page.layout == 'default' %}is-active{% endif %}"
                    href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">Home</a>
                <a class="navbar-item {% if page.layout == 'team' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/team">Team</a>
                {% include project-dropdown.html %}
                {% include comp-dropdown.html %}
                <a class="navbar-item {% if page.layout == 'updates' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/updates">Updates</a>
                <a class="navbar-item {% if page.layout == 'sponsors' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/sponsors">Sponsors</a>
                <a class="navbar-item {% if page.layout == 'support-us' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/support-us">Support Us</a>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        /* Get all "navbar-burger" elements */
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        /* Check if there are any navbar burgers */
        if ($navbarBurgers.length > 0) {
            /* Add a click event on each of them */
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    /* Get the target from the "data-target" attribute */
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    /* Toggle the class on both the "navbar-burger" and the "navbar-menu" */
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
