<section class="section" id="project-summary">
    <div class="container">
        <div class="{{page.handle}}">
            <div class="description">
                <p>
                    {{page.description}}
                </p>
                <br>
            </div>
        </div>
        <div class="{{page.handle}}">
            <div style="display: flex; justify-content: center;">
                <a href="{{site.baseurl}}/assets/pdf/{{page.pdf}}" target="_blank"
                    class="button is-rounded has-text-weight-normal is-outlined">Technical Report</a>
            </div>
        </div>
    </div>
</section>