<div class="navbar-item has-dropdown is-hoverable">
    <a href="{{site.url}}{{site.baseurl}}/projects" class="navbar-link">
        Projects
    </a>
    <div class="navbar-dropdown">
        <a href="{{site.url}}{{site.baseurl}}/lazer-shark"
            class="navbar-item">
            Lazer Shark
        </a>
        <a href="{{site.url}}{{site.baseurl}}/seahawk-II"
            class="navbar-item">
            SeaHawk II
        </a>
        <a href="{{site.url}}{{site.baseurl}}/seahawk"
            class="navbar-item">
            SeaHawk
        </a>
        <a href="{{site.url}}{{site.baseurl}}/hydrozoa"
            class="navbar-item">
            Hydrozoa
        </a>
    </div>
</div>