<section class="section" id="safety-features">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            Safety Features
        </h2>
        <div class="features has-text-justified">
            <p>
            SeaHawk II is equipped with a suite of safety features that reduce the risk of injury and provide streamlined operation. To protect ROV operators and the marine environment, all tooling edges are chamfered and thrusters are enclosed in custom 3D-printed thruster shrouds that block objects larger than 12 mm. The 24m tether is equipped with a master fuse and strain relief webbing. An overvoltage protection circuit prevents damage to electronics in the event of a voltage spike. Various tooling is powered by pneumatics (pressurized air) which can cause severe injury if not safely implemented. For this reason, the air prep system valve purges potentially dangerous pressure build-up, and operators must be familiar with the dangers and correct usage of pneumatic power. Advanced software limits thruster power and monitors the system and sensors for abnormalities in which case the pilot is notified and prompted to use the kill switch for immediate shutdown.
            </p> 
        </div>
    </div>
</section>
