<section class="hero is-fullheight has-text-centered" id="showcase">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white-ter is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <!-- <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3> -->
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-rounded is-outlined has-text-weight-normal">About Us</a>
      </a>
    </div>
  </div>
</section>