<section class="section has-text-justified has-background-black-bis" id="lazershark-homepage">
    <div class="container">
        <h2 class="title has-text-left has-text-white is-size-2 has-text-weight-bold">
            UAVs
        </h2>
        <h3 class="title has-text-left has-text-white is-size-5 has-text-weight-bold">
            SkyHawk: Our first Unmanned Arial Vehicle
        </h3>
        <p>
            SkyHawk is the Cabrillo Robotics Club’s first Unmanned Aerial Vehicle (UAV), marking the team’s expansion from underwater robotics into the skies. Like LazerShark, SkyHawk must operate fully autonomously in flight. This requires advanced avionics, reliable communication systems, and robust computer vision pipelines to handle navigation, object detection, and payload delivery. SkyHawk will make its debut at the Student Unmanned Aerial Systems (SUAS) Competition in 2026, where it will compete against more than 50 international teams in Maryland.
        </p>
        <br>
        <div style="display: flex; justify-content: center;">
            <a href="{{site.url}}{{site.baseurl}}/skyhawk"
                class="button is-rounded has-text-weight-normal is-outlined">SkyHawk</a>
        </div>
    </div>
</section>