<section class="section has-text-justified has-background-black-bis" id="lazershark-homepage">
    <div class="container">
        <h2 class="title has-text-left has-text-white is-size-2 has-text-weight-bold">
            Spinning Up
        </h2>
        <h3 class="title has-text-left has-text-white is-size-5 has-text-weight-bold">
            SkyHawk: Our first Unmanned Arial Vehicle
        </h3>
        <p>
            Skyhawk Skyhawk
        </p>
        <br>
        <div style="display: flex; justify-content: center;">
            <a href="{{site.url}}{{site.baseurl}}/skyhawk"
                class="button is-rounded has-text-weight-normal is-outlined">SkyHawk</a>
        </div>
    </div>
</section>