{% assign lazer_sponsors = include.sponsors | where: "level", "lazer" %}
{% if lazer_sponsors.size > 0 %}
<div class="contents">
    <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium" style="color: var(--primary)">
        Lazer
    </h2>
</div>
<div class="sponsor-grid">
    {% for sponsor in lazer_sponsors %}
    <div class="column">
        <div class="sponsor-card">
            <a href="{{sponsor.website}}" target="_blank">
                <img src="{{sponsor.logo}}" alt="{{sponsor.name}}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% assign diamond_sponsors = include.sponsors | where: "level", "diamond" %}
{% if diamond_sponsors.size > 0 %}
<div class="contents">
    <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium" style="color: var(--seahawk)">
        Diamond
    </h2>
</div>
<div class="sponsor-grid">
    {% for sponsor in diamond_sponsors %}
    <div class="column">
        <div class="sponsor-card">
            <a href="{{sponsor.website}}" target="_blank">
                <img src="{{sponsor.logo}}" alt="{{sponsor.name}}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% assign gold_sponsors = include.sponsors | where: "level", "gold" %}
{% if gold_sponsors.size > 0 %}
<div class="contents">
    <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium" style="color: var(--gold)">
        Gold
    </h2>
</div>
<div class="sponsor-grid">
    {% for sponsor in gold_sponsors %}
    <div class="column">
        <div class="sponsor-card">
            <a href="{{sponsor.website}}" target="_blank">
                <img src="{{sponsor.logo}}" alt="{{sponsor.name}}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% assign silver_sponsors = include.sponsors | where: "level", "silver" %}
{% if silver_sponsors.size > 0 %}
<div class="contents">
    <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium" style="color: var(--silver)">
        Silver
    </h2>
</div>
<div class="sponsor-grid">
    {% for sponsor in silver_sponsors %}
    <div class="column">
        <div class="sponsor-card">
            <a href="{{sponsor.website}}" target="_blank">
                <img src="{{sponsor.logo}}" alt="{{sponsor.name}}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% assign bronze_sponsors = include.sponsors | where: "level", "bronze" %}
{% if bronze_sponsors.size > 0 %}
<div class="contents">
    <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium" style="color: var(--seahawk-II)">
        Bronze
    </h2>
</div>
<div class="sponsor-grid">
    {% for sponsor in bronze_sponsors %}
    <div class="column">
        <div class="sponsor-card">
            <a href="{{sponsor.website}}" target="_blank">
                <img src="{{sponsor.logo}}" alt="{{sponsor.name}}">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
