<section class="section has-text-justified has-background-black-bis" id="support-us-dropdowns">
    <div class="container">
        <div class="accordion">
            <button class="button is-rounded has-text-weight-normal" onclick="toggleAccordion(this)">
                <span>Invest in the Future</span>
                <span class="icon"><i class="fas fa-chevron-down"></i></span>
            </button>
            <div class="content">
                <p>Cabrillo Robotics Club provides hands-on learning opportunities for students pursuing educational
                    and career paths in science, technology, engineering, and mathematics (STEM) fields. Through
                    engagement in robotics projects, our members develop valuable engineering and interpersonal skills
                    that they carry into their future careers. Sponsoring the Cabrillo Robotics Club directly supports
                    the development of future of engineers.</p>
            </div>

            <button class="button is-rounded has-text-weight-normal is-outlined" onclick="toggleAccordion(this)">
                <span>Networking</span>
                <span class="icon"><i class="fas fa-chevron-down"></i></span>
            </button>
            <div class="content">
                <p>As community college students, our members are actively pursuing internships, participating in
                    outreach events, and preparing to transfer to leading universities. By sponsoring the Cabrillo
                    Robotics Club, your organization gains early exposure to a talented and motivated group of future
                    engineers and innovators. This early engagement fosters familiarity with your products and services,
                    creating a lasting connections which can extend to future opportunities.</p>
            </div>

            <button class="button is-rounded has-text-weight-normal is-outlined" onclick="toggleAccordion(this)">
                <span>Brand Exposure</span>
                <span class="icon"><i class="fas fa-chevron-down"></i></span>
            </button>
            <div class="content">
                <p>Our team participates in international robotics competitions, outreach events, and product
                    showcases--providing valuable opportunities for exposure and engagement. These events attract
                    industry professionals, educators, and potential customers. When we attend these events, we proudly
                    represent our sponsors--showcasing their logos on our team's promotional materials (see Sponsor
                    Tiers). This exposure builds brand recognition within the tech and engineering communities.</p>
            </div>

            <button class="button is-rounded has-text-weight-normal is-outlined" onclick="toggleAccordion(this)">
                <span>Tax Deductible</span>
                <span class="icon"><i class="fas fa-chevron-down"></i></span>
            </button>
            <div class="content">
                <p>Donations to Cabrillo Robotics Club are tax deductible.</p>
            </div>
        </div>
    </div>
</section>

<script>
    function toggleAccordion(button) {
        var content = button.nextElementSibling;
        button.classList.toggle("active");
        if (content.style.maxHeight) {
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + 10 + "px";
        }
    }
</script>
