<section class="hero" id="support-us-showcase">
    <figure class="hero-background" style="background-image: url('https://raw.githubusercontent.com/CabrilloRoboticsClub/cabrillorobotics.github.io/782b579c031c16835e0fee2b57a22246c1a79618/assets/images/seahawk-II/seahawk-II-hero.webp');">
        <div class="overlay">
            <div class="container">
                <div class="title-text">
                    <h1 class="title has-text-white-ter is-size-1 has-text-weight-bold">
                        Support Us
                    </h1>
                    <h3 class="subtitle has-text-weight-medium">
                        Cabrillo Robotics Club depends on the generous support of our sponsors to continue our work in
                        creating
                        and improving robotic technology. We give our sincerest gratitude to the organizations who have
                        supported us.
                    </h3>
                </div>
                <div class="buttons">
                    <a href="{{site.url}}{{site.baseurl}}/team"
                        class="button is-rounded has-text-weight-normal is-outlined">Sponsorship Package</a>
                    <a href="{{site.url}}{{site.baseurl}}/support-us/#how-to-donate"
                        class="button is-rounded has-text-weight-normal is-outlined">Donate</a>
                    <a href="{{site.url}}{{site.baseurl}}/sponsors"
                        class="button is-rounded has-text-weight-normal is-outlined">Current Sponsors</a>
                </div>
            </div>
        </div>
</section>