<section class="section has-text-justified has-background-black-bis" id="support-us-tiers">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            Sponsorship Tiers
        </h2>
        <table>
            <tr>
                <th>Benefits</th>
                <th>
                    <div class="Tier">
                        Lazer
                    </div>
                    <div class="cost">
                        $3000+
                    </div>
                </th>
                <th>
                    <div class="Tier"></div>
                    Diamond
                    </div>
                <div class="cost">
                    $2000+
                </div>
                </th>
                <th>
                    <div class="Tier"></div>
                    Gold
                    </div>
                    <div class="cost">
                        $1000+
                    </div>
                </th>
                <th>
                    <div class="Tier"></div>
                    Silver
                    </div>
                    <div class="cost">
                        $0+
                    </div>
                </th>
                </tr>
    <tr>
        <td>Company name, logo, and website link on team website</td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
    </tr>
    <tr>
        <td>Logo on team promotional materials</td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Logo on team uniform</td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Logo on AUV Lazer Shark</td>
        <td>
            <div class="circle"></div>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </table>

    </div>
</section>