<section class="section has-text-justified has-background-black-bis" id="support-us-tiers">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium">
            Sponsorship Tiers
        </h2>
        <table>
            <tr>
                <th>Benefits</th>
                <th>
                    <div class="Tier">
                        Lazer
                    </div>
                    <div class="cost">
                        $5,000+
                    </div>
                </th>
                <th>
                    <div class="Tier">
                        Diamond
                    </div>
                    <div class="cost">
                        $2,500+
                    </div>
                </th>
                <th>
                    <div class="Tier">
                        Gold
                    </div>
                    <div class="cost">
                        $1,000+
                    </div>
                </th>
                <th>
                    <div class="Tier">
                        Silver
                    </div>
                    <div class="cost">
                        $500+
                    </div>
                </th>
                <th>
                    <div class="Tier">
                        Bronze
                    </div>
                    <div class="cost">
                        $50+
                    </div>
                </th>
            </tr>
    <tr>
        <td>
            Company name and website link on team website</td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td>li x9, ~(0x3F << 22)
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
    </tr>
    <tr>
        <td>
            Company logo and website link on team website</td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Logo on team promotional materials</td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Logo on team uniform</td>
        <td>
            <div class="circle"></div>
        </td>
        <td>
            <div class="circle"></div>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Logo on AUV Lazer Shark</td>
        <td>
            <div class="circle"></div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </table>

    </div>
</section>