<section class="section" id="support-us-how-to-donate">
    <div class="container">
        <h2 class="title has-text-left has-text-white-ter is-size-2 has-text-weight-bold mgb-medium" id="how-to-donate">
            How to Donate
        </h2>
        <div class="description">
            <p>
            Donations to the Cabrillo Robotics Club must go through the Cabrillo Foundation. In the "where to direct gift" drop down, choose "Other," and type "Cabrillo Robotics Club" in the Notes field. If you don't do this, the money doesn't go to us!
            <br>
            NOTE. The Cabrillo Foundation does not share donor information with us so if you would like to be recognized for your donation, please send us an email with proof of donation and we can add you to our sponsors list.
            </p>
        </div>
        <div class="donate-button">
            <a href="https://foundation.cabrillo.edu/donate-2" target="_blank"
                class="button is-rounded has-text-weight-normal is-outlined">Donate</a>
        </div>
    </div>
</section>
