<div id="team">
    <div class="grid" id="team-grid">
        {% for member in site.data.members %}
            <div class="column">
                <div class="person-card" 
                    data-image="{{member.image}}" 
                    data-name="{{ member.name }}" 
                    data-roles="{{ member.roles }}" 
                    data-description="{{ member.description }}">
                    <div class="card">
                        <figure class="image is-4by5" style="background-image: url({{member.image}});"></figure>
                        <div class="card-content">
                            <h2 class="has-text-white-ter has-text-weight-bold is-size-6">{{ member.name }}</h2>
                            <p class="has-text-weight-normal">{{ member.roles }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  
    <div id="person-popup" class="popup">
        <div class="popup-content">
            <span class="popup-close">&times;</span>
            <div class="popup-image-container">
                <img id="popup-image" src="" alt="Member Photo">
            </div>
            <div class="popup-text">
                <h2 id="popup-name"></h2>
                <p id="popup-roles"></p>
                <br>
                <p id="popup-description"></p>
            </div>
        </div>
    </div>
    
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const popup = document.getElementById("person-popup");
        const popup_image = document.getElementById("popup-image");
        const popup_name = document.getElementById("popup-name");
        const popup_roles = document.getElementById("popup-roles");
        const popup_description = document.getElementById("popup-description");
        const close_button = document.querySelector(".popup-close");

        document.querySelectorAll(".person-card").forEach(function(card) {
            card.addEventListener("click", function() {
                popup_image.src = this.getAttribute("data-image");
                popup_name.textContent = this.getAttribute("data-name");
                popup_roles.textContent = this.getAttribute("data-roles");
                popup_description.textContent = this.getAttribute("data-description");
                popup.classList.add("active");
            });
        });

        close_button.addEventListener("click", function() {
            popup.classList.remove("active");
        });

        popup.addEventListener("click", function(event) {
            if (event.target === popup) {
                popup.classList.remove("active");
            }
        });
    });
</script>