---
---

@import "main.scss";

:root {
    --primary: #9172f8;
    --background: #121212;
    --background-secondary: #242424;
    --header: #f5f5f5;
    --text: #a2a2a2;
    --seahawk-II: #fe5e20;
    --seahawk: #79bde8;
    --hydrozoa: #1a5ea5;
}

// Global settings
p { color: var(--text); }
.title { color: var(--header); }
body { background-color: var(--background); }

#navbar {
    // semi transparent
    background-color: rgba(3, 3, 3, 0.9);
    color: var(--text);
    .website-title {
        color: var(--header);
    }
    // when the page is active, make the name bold
    .is-active {
        font-weight: 600;
        background-color: transparent;
    }
    // this is the title of the dropdown
    .navbar-link { 
        background-color: transparent !important;
    }
    .navbar-dropdown {
        background-color: rgba(3, 3, 3, 0.9);
        border: none;
        // border on the lower two corners
        border-radius: 0 0 10px 10px;
        right: 0;
        left: auto;
    }
    // change color on hover
    a.navbar-item:hover,
    .navbar-link:hover {
        background-color: transparent !important;
        color: var(--primary) !important;
    }
    a.navbar-item.is-active {
        color: var(--primary) !important;
    }
    .navbar-link:not(.is-arrowless)::after {
        border-color: var(--text);
    }
    .navbar-menu.is-active {
        background-color:  rgba(3, 3, 3, 0.9);
    }
    .navbar-item:hover {
        background-color: transparent;
    }
}

#showcase {
    background: var(--background);
    position: relative;
    
    &::before {
        filter: grayscale(100%);
        background-image: url('{{site.heroimage}}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        content: "";
        z-index: 1; // Ensure this is below the overlay 
    }

    &::after {
        background-color: rgba(0, 0, 0, 0.7); 
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        content: "";
        z-index: 2; // Ensure this is above the image
    }

    .title, .subtitle, .button {
        position: relative;
        z-index: 3; // Ensure text and buttons are above the overlay
    }

    .title {
        margin: auto 0.75rem !important;
    }

    .subtitle {
        letter-spacing: 0.25rem;
    }

    .button {
        background-color: transparent;
        border-color: var(--primary);
        color: var(--primary);
    }

    .button:hover {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--header);
    }
}

#project-showcase {
    position: relative;
    height: 50vh;
    background: var(--background);

    .hero-background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 2rem;
    }
    .title-text {
        text-align: left;
    }
    
    .title-text h1, .title-text h3 {
        margin: 0;
    }
    .hydrozoa .subtitle {
        color: var(--hydrozoa);
    }
    .seahawk .subtitle {
        color: var(--seahawk);
    }
    .seahawk-II .subtitle {
        color: var(--seahawk-II);
    }
}

#project-gallery-card {
    #project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-content: center;
    }

    .card {
        transition: all 0.25s ease;
        border-radius: 10px;
        overflow: hidden;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .popup.active {
        display: flex;
    }

    .popup-content {
        background-color: var(--background-secondary);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        max-width: 80vh;
        max-height: 90vh;
        width: 90%;
        overflow: auto;
    }

    .popup-close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        color: var(--header);
    }

    .popup-image-container {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .popup-image-container img {
        width: 100%;
        height: auto;
        max-height: 70vh;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .popup-writing {
        width: 100%;
        text-align: center;
    }
    
    .popup p {
        margin: 10px 0;
        text-align: center;
    }
}

#project-summary {
    position: relative;
    height: 30vh;
    .hydrozoa .button {
        background-color: transparent;
        border-color: var(--hydrozoa);
        color: var(--hydrozoa);
    }

    .hydrozoa .button:hover {
        background-color: var(--hydrozoa);
        border-color: var(--hydrozoa);
        color: var(--header);
    }

    .seahawk .button {
        background-color: transparent;
        border-color: var(--seahawk);
        color: var(--seahawk);
    }

    .seahawk .button:hover {
        background-color: var(--seahawk);
        border-color: var(--seahawk);
        color: var(--header);
    }
    .seahawk-II .button {
        background-color: transparent;
        border-color: var(--seahawk-II);
        color: var(--seahawk-II);
    }

    .seahawk-II .button:hover {
        background-color: var(--seahawk-II);
        border-color: var(--seahawk-II);
        color: var(--header);
    }
}

#seahawk-II-rov-features {
    .features {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        color: var(--text);
    }
    
    .column {
        flex: 1;
        min-width: 400px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: flex;
        align-items: center;
        line-height: 1.5;
        position: relative;
        padding-left: 50px;
        margin-bottom: 1rem;
    }

    .feature {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: var(--seahawk-II);
        color: var(--header);
        font-weight: bold;
        border-radius: 50%;
        font-size: 1.1em;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    @media screen and (max-width: 600px) {
        .column {
            flex: 1 1 100%;
        }
    }
}

#seahawk-II-info-graphic {
    position: relative;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-background {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
}

#seahawk-info-graphic {
    position: relative;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-background {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
}

#about {
    // three buttons in a line, flexible sizes
    .buttons {
        color: var(--primary)!important;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .buttons a {
        color: var(--primary)!important;
	    border-color: var(--primary)!important;
        background-color: transparent;
        flex: 1;
        text-align: center;
        max-width: 20vw;
        min-width: 10vw;
    }

    .buttons a:hover {
        color: var(--header)!important;
        background-color:var(--primary);
	    border-color: var(--primary)!important;
        flex: 1;
        text-align: center;
        max-width: 20vw;
        min-width: 10vw;
    }


    // Mobile button settings
    @media (max-width: 768px) {
        .buttons {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .buttons a {
            width: 90%; 
            max-width: 90%;
            margin: 0 auto;
            margin-bottom: 1rem;
        }
    }
}

#feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    #feature-card {
        display: flex;
        flex-direction: column;
        .image {
            border-radius: 10px 10px 0px 0px;
            overflow: hidden;
            flex-shrink: 0;
        }
        .feature-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .feature-title {
            font-size: 1.2rem;
            text-align: center;
            color: var(--header);
            background-color: var(--seahawk);
            padding: 10px;
            margin: 0;
            border-radius: 0px 0px 10px 10px;
        }
        .feature-description {
            text-align: justify;
            margin-top: 10px;
        }
    }
}

#robot-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    #robot-card {
        position: relative;
        display: flex;
        flex-direction: column;
        .image {
            position: relative;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            overflow: hidden;
            transition: filter 0.5s ease, transform 0.5s ease;
            filter: grayscale(100%);
        }
        .image::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            pointer-events: none; 
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            pointer-events: none;
            transition: opacity 0.5s ease;
        }
        .robot-link:hover .image {
            filter: grayscale(0%);
        }
        .robot-link:hover .image::before {
            opacity: 20;
        }
        h2 {
            transition: opacity 0.5s ease;
            color: var(--primary) !important;
        }
        h2, p {
            z-index: 2;
            position: relative;
            transition: opacity 0.5s ease;
            pointer-events: none;
        }
        .robot-link:hover h2 {
            color: var(--header) !important;
        }
    }
}



#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    #blog-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin-right: 2.5vmax;
        margin-left: 2.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: 768px) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax !important;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }

            .image {
                padding-top: 50% !important;
            }
        }

        .title {
            margin: 0.5rem !important;
        }

        .content {
            margin: 0.5rem;
        }

        .column {
            display: grid;

            .image {
                border-radius: 0.25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

#search {
    border-bottom: 0.15rem solid;

    input {
        border: none;
        outline: none;
        font-weight: 500 !important;

        &::placeholder {
            font-weight: 500;
            color: grey;
            letter-spacing: 0.25rem;
        }
    }

    .button {
        transition: all 0.25s ease;
        &:focus {
            outline: 0.25rem solid #ede5f2;
        }

        border: none;
    }
}


#footer {
    padding: 2rem 0;
    background-color: var(--header) !important;
    .columns {
        display: flex;
        justify-content: space-between;
    }
    .column {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .socials {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .social-link {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        color: var(--background);
        text-decoration: none;
    }
    .social-link i {
        margin-right: 0.5rem; 
        font-size: 1.5rem;
    }
    // Mobile
    @media (min-width: 769px) {
        .column {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    .social-link,
    .address-link {
        display: block;
        margin-bottom: 0.5rem;
    }
    // change color on hover
    .social-link:hover,
    .address-link:hover {
        color: var(--primary);
    }
}

#project {
    .columns {
        .column {
            border-radius: 0.5rem;
            .image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    #project-card {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transform: scale(0.95);
        transition: all 0.5s ease;
        margin-bottom: 0.5rem !important;
        display: inline-table;
        &:hover {
            transform: scale(0.975);
        }
    }
    .card {
        transition: all 0.25s ease;
        &:hover {
            background-color: rgba($color: #111113, $alpha: 0.90)!important;
        }
    }
}

#team {
    .description {
        text-align: justify;
    }
    .contents {
        margin-bottom: 10vh;
        margin-top: 5vh;
    }
    h2 {
        margin-bottom: 2vh;
    }
    .columns {
        margin-top: 20px;
        .column {
            margin-bottom: 20px;
            .image {
                // only round top two corners
                border-radius: 10px 10px 0 0;
                // hide part of image which gets rounded off
                overflow: hidden;
            }
        }
    }
    .card {
        transition: all 0.25s ease;
        border-radius: 10px;
        overflow: hidden;
        background-color: var(--background-secondary);
    }
    .person-card:hover {
        transform: scale(1.05);
    }
    .person-image {
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    .popup.active {
        display: flex;
    }
    .popup-content {
        background-color: var(--background-secondary);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        max-width: 60vh;
        max-height: 80vh;
        width: 90%;
        overflow: auto;
    }
  
    .popup-close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        color: var(--header);
    }

    .popup-image-container {
        flex: 0 0 50%;
        margin-right: 20px;
    }
    .popup-image-container img {
        width: 100%;
        height: auto;
        max-height: 60vh;
        object-fit: cover;
        border-radius: 10px;
    }
    .popup-text {
        flex: 1;
    }

    .popup h2, .popup p {
        margin: 10px 0;
        text-align: left;
    }
    .popup h2 {
        color: var(--header);
        font-weight: bold;
    }
}

#members {
    scroll-margin-top: 60px;
}

#team-showcase {
    position: relative;
    height: 75vh;
    background: var(--background);

    .hero-background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .button {
        background-color: transparent;
        border-color: var(--primary);
        color: var(--primary);
    }

    .button:hover {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--header);
    }
}

#post {
    @media (min-width: 768px) {
        margin: auto 2.5vmax;
    }
    a {
        text-decoration: underline;
    }
    #title {
        text-decoration: none;
    }
    .title {
        margin: auto;
    }
    #post-image {
        border-radius: 0.25rem;
    }
    .subtitle {
        letter-spacing: 0.05rem;
    }

    #description {
        margin-bottom: 1.25vmax;
    }

    .tag {
        margin: 0.15rem auto;
    }
    .content {
        ol, ul, blockquote {
            display: inline-block;
        }
        hr{
            background-color: grey;
        }
        img, iframe {
            max-width: calc(100% - 25vw);
            margin: 0.25rem auto;
            @media (max-width: 768px) {
                max-width: calc(100% - 5vw);
            }
        }
        ul, ol {
            display: inline-block;
        }
    }

    .container {
        margin: 2.5rem auto;
        word-break: break-word;
        max-width: -webkit-fill-available;
    }

    #disqus_thread {
        margin-top: 5vmax;
    }
}

#page-section {
    .content {
        ul, ol, blockquote {
            display: inline-block;
        }
    }
}

#latest-project {
    .button {
        background-color:transparent;
  	    border-color:var(--primary);
  	    color:var(--primary);
    }
    .button:hover {
        background-color:var(--primary);
  	    border-color:var(--primary);
  	    color:var(--header);
    }
}