---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
    {% include navbar.html %}
    <section class="section" id="support-us">
        <div class="container">
            <div class="banner">
                <h2 class="title has-text-centered is-size-2 has-text-weight-bold mgb-medium">
                  SUPPORT US
                </h2>
                <p class="has-text-centered">
                  Cabrillo Robotics Club depends on the generous support of our sponsors to continue our work in creating and improving robotic technology. We give our sincerest gratitude to the organizations who have supported us. 
                </p>
                <div class="buttons">
                  <a href="{{site.url}}{{site.baseurl}}/team" class="button is-rounded has-text-weight-normal is-outlined">Sponsorship Package</a>
                  <a href="{{site.url}}{{site.baseurl}}/team" class="button is-rounded has-text-weight-normal is-outlined">Donate</a>
                  <a href="{{site.url}}{{site.baseurl}}/team" class="button is-rounded has-text-weight-normal is-outlined">Current Sponsors</a>
                </div>
              </div>              
            <div class="contents">
                <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium">
                    Invest in the Future
                </h2>
                <p class="description">
                    Cabrillo Robotics Club provides hands-on learning opportunities for students pursuing educational and career paths in science, technology, engineering, and mathematics (STEM) fields. Through engagement in robotics projects, our members develop valuable engineering and interpersonal skills that they carry into their future careers. Sponsoring the Cabrillo Robotics Club directly supports the development of future of engineers.
                </p>
            </div>

            <div class="contents">
                <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium">
                    Networking
                </h2>
                <p class="description">
                    As community college students, our members are actively pursuing internships, participating in outreach events, and preparing to transfer to leading universities. By sponsoring the Cabrillo Robotics Club, your organization gains early exposure to a talented and motivated group   of future engineers and innovators. This early engagement fosters familiarity with your products and services, creating a lasting connections which can extend to future opportunities.
                </p>
            </div>

            <div class="contents">
                <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium">
                    Brand Exposure
                </h2>
                <p class="description">
                    Our team participates in international robotics competitions, outreach events, and product showcases--providing valuable opportunities for exposure and engagement. These events attract industry professionals, educators, and potential customers. When we attend these events, we proudly represent our sponsors--showcasing their logos on our team's promotional materials (see Sponsor Tiers). This exposure builds brand recognition within the tech and engineering communities.
                </p>
            </div>

            <div class="contents">
                <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium">
                    Tax Deductible
                </h2>
                <p class="description">
                    Donations to Cabrillo Robotics Club are tax deductible.
                </p>
            </div>
        </div>
    </section>
    <section>
        <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium">
            Sponsorship Tiers
        </h2>
    </section>
    {% include footer.html %}
</body>
</html>
