---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include navbar.html %}

    <section class="section" id="updates">
        <div class="container">
            <div class="header">
                <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium">
                    Updates
                </h2>
                <p class="description">
                    Welcome to our updates page! Here, you'll find a collection of posts providing a glimpse into our
                    process of designing, building, and innovating robotic technology. These posts allow us to document
                    a history of our progress and keep our community connected with ongoing developments.
                </p>
            </div>
            {% for page in site.posts %}
            {% include updates-card.html %}
            {% endfor %}
        </div>
    </section>
    <br>

    {% include footer.html %}

</html>