---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include navbar.html %}

    <section class="section" id="updates">
        <div class="container">
            <div class ="header">
                <h2 class="title has-text-left is-size-2 has-text-weight-bold mgb-medium">
                    Updates
                </h2>
                <p class="description">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
                </p>
            </div>
            {% for page in site.posts %}
                {% include updates-card.html %}
            {% endfor %}
        </div>
    </section>
    <br>

    {% include footer.html %}
</html>