---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include navbar.html %}

    <section class="section" id="yearbook">
        <div class="container">
            <div class="contents">
                <h1 class="title has-text-left is-size-1 has-text-weight-bold mgb-medium">
                    Yearbook
                </h1>
                <p class="description">
                    Welcome to our Yearbook page! Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                </p>
            </div>
        </div>
    </section>
    <section class="section" id="yearbook-2025">
        <div class="container">
            <div class="header">
                <h1 class="title has-text-left is-size-1 has-text-weight-bold mgb-medium">
                    2025
                </h1>
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                </p>
            </div>
            <div class="contents">
                <h3 class="title has-text-left is-size-4 has-text-weight-bold mgb-medium">
                    Example 2025 Team
                </h3>
                {% include team-member-card-small.html members=site.data.team %}
            </div>
        </div>
    </section>

    <section class="section" id="yearbook-2024">
        <div class="container">
            <div class="header">
                <h1 class="title has-text-left is-size-1 has-text-weight-bold mgb-medium">
                    2024
                </h1>
                <p class="description">
                    ppl ppl
                </p>
            </div>
        </div>
    </section>

    <section class="section" id="yearbook-2023">
        <div class="container">
            <div class="header">
                <h1 class="title has-text-left is-size-1 has-text-weight-bold mgb-medium">
                    2023
                </h1>
                <p class="description">
                    ppl ppl
                </p>
            </div>
        </div>
    </section>

    <section class="section" id="yearbook-2022">
        <div class="container">
            <div class="header">
                <h1 class="title has-text-left is-size-1 has-text-weight-bold mgb-medium">
                    2022
                </h1>
                <p class="description">
                    ppl ppl
                </p>
            </div>
        </div>
    </section>

    <!-- <a href="#yearbook" class="scroll-down" style="color: var(--{{ page.handle | default: 'primary' }});" aria-label="Scroll to Yearbook top">
                <i class="fas fa-chevron-down"></i>
            </a> -->
    <br>

    {% include footer.html %}

</body>
</html>