---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include navbar.html %}

    <section class="section" id="updates">
        <div class="container">
            <div class="header">
                <h1 class="title has-text-left is-size-1 has-text-weight-bold mgb-medium">
                    Yearbook
                </h1>
                <p class="description">
                    Welcome to our Yearbook page! Yearbook Yearbook
                </p>
            </div>
        </div>
    </section>
    <section class="section" id="updates">
        <div class="container">
            <div class="header">
                <h1 class="title has-text-left is-size-1 has-text-weight-bold mgb-medium">
                    2025
                </h1>
                <p class="description">
                    ppl ppl
                </p>
            </div>
            <div class="contents">
                <h3 class="title has-text-left is-size-4 has-text-weight-bold mgb-medium">
                    Example 2025 Team
                </h3>
                {% include team-member-card-small.html members=site.data.suas-team %}
            </div>
        </div>
    </section>

    <section class="section" id="updates">
        <div class="container">
            <div class="header">
                <h1 class="title has-text-left is-size-1 has-text-weight-bold mgb-medium">
                    2024
                </h1>
                <p class="description">
                    ppl ppl
                </p>
            </div>
        </div>
    </section>

    <section class="section" id="updates">
        <div class="container">
            <div class="header">
                <h1 class="title has-text-left is-size-1 has-text-weight-bold mgb-medium">
                    2023
                </h1>
                <p class="description">
                    ppl ppl
                </p>
            </div>
        </div>
    </section>

    <section class="section" id="updates">
        <div class="container">
            <div class="header">
                <h1 class="title has-text-left is-size-1 has-text-weight-bold mgb-medium">
                    2022
                </h1>
                <p class="description">
                    ppl ppl
                </p>
            </div>
        </div>
    </section>
    <br>

    {% include footer.html %}

</html>